.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pagination .page-num{

  padding: 8px 15px;
  cursor: pointer;
  
  border-radius: 3px;
  font-weight: 400;
  text-decoration: none;
}
.pagination .page-num:hover{
 background-color: aqua;
}.App {
  font-family: "IRANSanse";
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #b3bfec;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  color: rgb(14, 13, 13) !important;
}
#container{

  margin-top: 300px;
  margin-right: 650px;
  font-family: "Iransanse";
}
#user{

  font-size: xx-large;
}
#contact{

  margin-top: 100px;
  margin-right: 650px;
  width: 45%;
}
#select{

  width: 185px;
}

.form-control{


  color:black !important;
}
.input-group-text{

  width:42px !important;
}